#city-input {
  border-color: #ffffff;
}
.degree-type,
.btn-primary,
#location-button {
  background-color: #6acbf8;
  border-color: #6acbf8;
}
#city-input {
  line-height: 30px;
}
.location {
  color: white;
}
#temperature-type {
  font-size: 25px;
  text-align: right;
  padding-bottom: 10px;
}
.degree-type {
  color: #eeeeee;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  padding: 6px 6px 6px 6px;
  border-radius: 3px;
  display: inline-flex;
  cursor: default;
}
