h1 {
  font-weight: bold;
}
h1,
h2 {
  font-size: 50px;
}
.minMax,
h4 {
  font-size: 35px;
}
.container {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 600;
  width: 35%;
  margin: 50px auto 10px auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 35px 40px;
  box-shadow: 5px 5px 5px grey;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-size: 110%;
}
.rightcol1,
.rightcol2,
.measure {
  text-align: right;
}
.rightcol2 {
  margin-top: 21%;
}

#current-date,
#weather,
.measure {
  font-size: 20px;
}
.city-input {
  border-color: #ffffff;
}
.btn-primary,
.location-button {
  margin-left: 5px;
}
.degree-type,
.btn-primary,
.location-button {
  background-color: #6acbf8;
  border-color: #6acbf8;
}
#city-input {
  line-height: 30px;
}
.location {
  color: white;
}
#temperature-type {
  font-size: 25px;
  text-align: right;
  padding-bottom: 10px;
}
.degree-type {
  color: #eeeeee;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  padding: 6px 6px 6px 6px;
  border-radius: 3px;
  display: inline-flex;
  cursor: default;
}
